

.HomePage{
    padding-top: 100px;
}

.Background-Img{
    position: absolute;
    width: 100%;
    height: 90%;
}

.Background-Logo-Img{
    position: relative;
    text-align: center;
    height: 650px;
    width: 800px;
    right: 100px;
}

.Background-Slogan-Img{
    height: 500px;
    position: absolute;
    width: 500px;
    top: 300px;
    right: 150px;
    bottom: 100px;
}

body{
    margin: 0px;
    padding: 0px;
}

.MenuBar{
    position: fixed;
    z-index: 5;
    margin: 0px;
    padding: 0px;
    height: 100px;
    width: 100%;
    background-color: black;
}
.MenuBar ul{
    display: inline-block;
    padding: 0px;
   
}
.MenuBar ul li{
    display: inline-block;
}
.MenuBar ul li a{
    font-size: 20px;
    display: inline-block;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 0px;
    color: white;
    text-decoration: none;
}

.AboutPage{
    background-color: #F5F5F5;
    padding-top: 75px;
    scroll-behavior: smooth;
}

.ContactPage{
    padding-top: 50px;
    padding-bottom: 100px;
}

h2{
    padding: 50px 50px;
    font-size: 42px
}

p{
    padding-top: 150px;
    padding-bottom: 150px;
    color: black;
    font-size: 36px;
}

.InstgramLogo{
    width: 75px;
    height: 75px;
    margin-right: 150px;
    margin-bottom: 10px;
}

.FacebookLogo{
    width: 100px;
    height: 100px;
    margin-right: 150px;
}

.YoutubeLogo{
    width: 150x;
    height: 100px;
}

.LogoLinks{
    padding-top: 125px;
}

