
* {
    margin: 0%;
    padding: 0%;
}

html {
    scroll-behavior: smooth;
}


.MenuBar {
    background-color: black;
    position: fixed;
    height: 100px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    z-index: 5;
}

.MenuBar ul {
    display: inline-block;
    padding: 0px;
    margin-bottom: 38px;
    margin-top: 38px;
    margin-left: 30px;
    margin-right: 25px;
}

.MenuBar ul li {
    display: inline-block;
}

.MenuBar ul li a {
    color: white;
    display: inline-block;
    font-size: 20px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: left;
    text-decoration: none;
}

.Background-Img {
    max-height: 80vh; /* Set a maximum height relative to the viewport height */
    margin-top: 100px;
    width: auto; /* Allow the width to adjust automatically */
    z-index: -5;
}

.Background-Logo-Img {
    position: absolute;
    left: 0px;
    top: 150px;
    width: 100%;
    z-index: 1;
}

.Background-Slogan-Img {
    display: none;
}

.AboutPage {
    padding-top: 150px;
}

.AboutPage p {
    margin-top: 100px;
}


.ContactPage {
    padding-top: 150px;
    text-align: center; 
}

.LogoLinks {
    margin-top: 50px; 
    display: flex;
    justify-content: center; 
    align-items: center;
}

.InstgramLogo,
.FacebookLogo,
.YoutubeLogo {
    margin: 0 20px; 
    height: 50px;
    width: 50px;
}

@media screen and (min-width: 768px) {

    .AboutPage p {
        margin-top: 50px;
        font-size: 24px; 
    }

    
}

@media screen and (min-width: 1000px) {
   
    .Background-Logo-Img {
        top: 200px; 
    }

    .Background-Img {
        height: 1000px;
    }

    .AboutPage p {
        margin-top: 100px;
        font-size: 32px; 
    }

    
}
